.Dustin-Hobson {
    background-image: url('../images/classmates/DustinHobson.jpg');
    background-size: cover;
    transition: 0.25s;
}

.Dustin-Hobson:hover {
    background-image: url('../images/classmates/DustinHobson_Fun.jpg');
}

.Dustin-Hobson.smallImage {
    background-image: url('../images/classmates/DustinHobson.jpg');
}

.Adam-Knowles {
    background-image: url('../images/classmates/AdamKnowles.jpg');
    background-size: cover;
    transition: 0.25s;
}

.Adam-Knowles:hover {
    background-image: url('../images/classmates/AdamKnowles_Fun.jpg');
}

.Adam-Knowles.smallImage {
    background-image: url('../images/classmates/AdamKnowles.jpg');
}

.Alex-Rumsey {
    background-image: url('../images/classmates/AlexRumsey.jpg');
    background-size: cover;
    transition: 0.25s;
}

.Alex-Rumsey:hover {
    background-image: url('../images/classmates/AlexRumsey_Fun.jpg');
}

.Alex-Rumsey.smallImage {
    background-image: url('../images/classmates/AlexRumsey.jpg');
}

.Amber-Gooch {
    background-image: url('../images/classmates/AmberGooch.jpg');
    background-size: cover;
    transition: 0.25s;
}

.Amber-Gooch:hover {
    background-image: url('../images/classmates/AmberGooch_Fun.jpg');
}

.Amber-Gooch.smallImage {
    background-image: url('../images/classmates/AmberGooch.jpg');
}

.Benjamin-Parker {
    background-image: url('../images/classmates/BenjaminParker.jpg');
    background-size: cover;
    transition: 0.25s;
}

.Benjamin-Parker:hover {
    background-image: url('../images/classmates/BenjaminParker_Fun.jpg');
}

.Benjamin-Parker.smallImage {
    background-image: url('../images/classmates/BenjaminParker.jpg');
}

.Berkeley-Platte {
    background-image: url('../images/classmates/BerkeleyPlatte.jpg');
    background-size: cover;
    transition: 0.25s;
}

.Berkeley-Platte:hover {
    background-image: url('../images/classmates/BerkeleyPlatte_Fun.jpg');
}

.Berkeley-Platte.smallImage {
    background-image: url('../images/classmates/BerkeleyPlatte.jpg');
}

.Curt-Cato {
    background-image: url('../images/classmates/CurtCato.jpg');
    background-size: cover;
    transition: 0.25s;
}

.Curt-Cato:hover {
    background-image: url('../images/classmates/CurtCato_Fun.jpg');
}

.Curt-Cato.smallImage {
    background-image: url('../images/classmates/CurtCato.jpg');
}

.Daniel-Krusch {
    background-image: url('../images/classmates/DanielKrusch.jpg');
    background-size: cover;
    transition: 0.25s;
}

.Daniel-Krusch:hover {
    background-image: url('../images/classmates/DanielKrusch_Fun.jpg');
}

.Daniel-Krusch.smallImage {
    background-image: url('../images/classmates/DanielKrusch.jpg');
}

.Danny-Barker {
    background-image: url('../images/classmates/DannyBarker.jpg');
    background-size: cover;
    transition: 0.25s;
}

.Danny-Barker:hover {
    background-image: url('../images/classmates/DannyBarker_Fun.jpg');
}

.Danny-Barker.smallImage {
    background-image: url('../images/classmates/DannyBarker.jpg');
}

.Drew-Palazola {
    background-image: url('../images/classmates/DrewPalazola.jpg');
    background-size: cover;
    transition: 0.25s;
}

.Drew-Palazola:hover {
    background-image: url('../images/classmates/DrewPalazola_Fun.jpg');
}

.Drew-Palazola.smallImage {
    background-image: url('../images/classmates/DrewPalazola.jpg');
}

.Jake-Scott {
    background-image: url('../images/classmates/JakeScott.jpg');
    background-size: cover;
    transition: 0.25s;
}

.Jake-Scott:hover {
    background-image: url('../images/classmates/JakeScott_Fun.jpg');
}

.Jake-Scott.smallImage {
    background-image: url('../images/classmates/JakeScott.jpg');
}

.Jeff-Hill {
    background-image: url('../images/classmates/JeffHill.jpg');
    background-size: cover;
    transition: 0.25s;
}

.Jeff-Hill:hover {
    background-image: url('../images/classmates/JeffHill_Fun.jpg');
}

.Jeff-Hill.smallImage {
    background-image: url('../images/classmates/JeffHill.jpg');
}

.Joe-Kennerly {
    background-image: url('../images/classmates/JoeKennerly.jpg');
    background-size: cover;
    transition: 0.25s;
}

.Joe-Kennerly:hover {
    background-image: url('../images/classmates/JoeKennerly_Fun.jpg');
}

.Joe-Kennerly.smallImage {
    background-image: url('../images/classmates/JoeKennerly.jpg');
}

.Joy-Ittycheriah {
    background-image: url('../images/classmates/JoyIttycheriah.jpg');
    background-size: cover;
    transition: 0.25s;
}

.Joy-Ittycheriah:hover {
    background-image: url('../images/classmates/JoyIttycheriah_Fun.jpg');
}

.Joy-Ittycheriah.smallImage {
    background-image: url('../images/classmates/JoyIttycheriah.jpg');
}

.Karla-Gallegos {
    background-image: url('../images/classmates/KarlaGallegos.jpg');
    background-size: cover;
    transition: 0.25s;
}

.Karla-Gallegos:hover {
    background-image: url('../images/classmates/KarlaGallegos_Fun.jpg');
}

.Karla-Gallegos.smallImage {
    background-image: url('../images/classmates/KarlaGallegos.jpg');
}

.Krystal-Gates {
    background-image: url('../images/classmates/KrystalGates.jpg');
    background-size: cover;
    transition: 0.25s;
}

.Krystal-Gates:hover {
    background-image: url('../images/classmates/KrystalGates_Fun.jpg');
}

.Krystal-Gates.smallImage {
    background-image: url('../images/classmates/KrystalGates.jpg');
}

.Mary-West {
    background-image: url('../images/classmates/MaryWest.jpg');
    background-size: cover;
    transition: 0.25s;
}

.Mary-West:hover {
    background-image: url('../images/classmates/MaryWest_Fun.jpg');
}

.Mary-West.smallImage {
    background-image: url('../images/classmates/MaryWest.jpg');
}

.Matthew-Caldwell {
    background-image: url('../images/classmates/MatthewCaldwell.jpg');
    background-size: cover;
    transition: 0.25s;
}

.Matthew-Caldwell:hover {
    background-image: url('../images/classmates/MatthewCaldwell_Fun.jpg');
}

.Matthew-Caldwell.smallImage {
    background-image: url('../images/classmates/MatthewCaldwell.jpg');
}

.Matthew-McDevitt {
    background-image: url('../images/classmates/MatthewMcDevitt.jpg');
    background-size: cover;
    transition: 0.25s;
}

.Matthew-McDevitt:hover {
    background-image: url('../images/classmates/MatthewMcDevitt_Fun.jpg');
}

.Matthew-McDevitt.smallImage {
    background-image: url('../images/classmates/MatthewMcDevitt.jpg');
}

.Melanie-Bond {
    background-image: url('../images/classmates/MelanieBond.jpg');
    background-size: cover;
    transition: 0.25s;
}

.Melanie-Bond:hover {
    background-image: url('../images/classmates/MelanieBond_Fun.jpg');
}

.Melanie-Bond.smallImage {
    background-image: url('../images/classmates/MelanieBond.jpg');
}

.Misty-DeRamus {
    background-image: url('../images/classmates/MistyDeRamus.jpg');
    background-size: cover;
    transition: 0.25s;
}

.Misty-DeRamus:hover {
    background-image: url('../images/classmates/MistyDeRamus_Fun.jpg');
}

.Misty-DeRamus.smallImage {
    background-image: url('../images/classmates/MistyDeRamus.jpg');
}

.Sam-Birky {
    background-image: url('../images/classmates/SamBirky.jpg');
    background-size: cover;
    transition: 0.25s;
}

.Sam-Birky:hover {
    background-image: url('../images/classmates/SamBirky_Fun.jpg');
}

.Sam-Birky.smallImage {
    background-image: url('../images/classmates/SamBirky.jpg');
}

.Scott-Silver {
    background-image: url('../images/classmates/ScottSilver.jpg');
    background-size: cover;
    transition: 0.25s;
}

.Scott-Silver:hover {
    background-image: url('../images/classmates/ScottSilver_Fun.jpg');
}

.Scott-Silver.smallImage {
    background-image: url('../images/classmates/ScottSilver.jpg');
}

.Shane-Miller {
    background-image: url('../images/classmates/ShaneMiller.jpg');
    background-size: cover;
    transition: 0.25s;
}

.Shane-Miller:hover {
    background-image: url('../images/classmates/ShaneMiller_Fun.jpg');
}

.Shane-Miller.smallImage {
    background-image: url('../images/classmates/ShaneMiller.jpg');
}

.Sydney-Noh {
    background-image: url('../images/classmates/SydneyNoh.jpg');
    background-size: cover;
    transition: 0.25s;
}

.Sydney-Noh:hover {
    background-image: url('../images/classmates/SydneyNoh_Fun.jpg');
}

.Sydney-Noh.smallImage {
    background-image: url('../images/classmates/SydneyNoh.jpg');
}

.Tyler-Carpenter {
    background-image: url('../images/classmates/TylerCarpenter.jpg');
    background-size: cover;
    transition: 0.25s;
}

.Tyler-Carpenter:hover {
    background-image: url('../images/classmates/TylerCarpenter_Fun.jpg');
}

.Tyler-Carpenter.smallImage {
    background-image: url('../images/classmates/TylerCarpenter.jpg');
}