.technologyCardContainer {
    color: rgb(196, 196, 196);
    width: 80%;
    max-width: 810px;
    max-height: 370px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 60px;
    padding-bottom: 25px;
    padding-top: 25px;
    background-color: rgba(158, 157, 157, 0.2);
    -webkit-box-shadow: 7px 7px 23px -13px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 7px 7px 23px -13px rgba(0, 0, 0, 0.53);
    box-shadow: 7px 7px 23px -13px rgba(0, 0, 0, 0.53);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: auto;
    overflow-y: auto;
}

.technologyCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.technologyImage {
    width: 70px;
    height: 70px;
    margin: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.javascript {
    background-image: url("../images/technologies/javascript.svg")
}

.reactjs {
    background-image: url("../images/technologies/react.png")
}

.git {
    background-image: url("../images/technologies/git.png")
}

.github {
    background-image: url("../images/technologies/github.png")
}

.semantic {
    background-image: url("../images/technologies/semantic.png")
}

.html5 {
    background-image: url("../images/technologies/html5.png")
}

.css3 {
    background-image: url("../images/technologies/css3.png")
}

.bootstrap {
    background-image: url("../images/technologies/bootstrap.svg")
}

.webpack {
    background-image: url("../images/technologies/webpack.png")
}

.npm {
    background-image: url("../images/technologies/npm.png")
}

.sql {
    background-image: url("../images/technologies/sql.png")
}

.firebase {
    background-image: url("../images/technologies/firebase.svg")
}

.vscode {
    background-image: url("../images/technologies/vscode.png")
}

.python {
    background-image: url("../images/technologies/python.png")
}

.django {
    background-image: url("../images/technologies/django.png")
}

.djangorest {
    background-image: url("../images/technologies/djangorest.png")
}

.postman {
    background-image: url("../images/technologies/postman.png")
}

.dbeaver {
    background-image: url("../images/technologies/dbeaver.png")
}