html {
  height: 100%
}

body {
  Font-Family: 'Open Sans', Sans-Serif;
  margin: 0;
  overflow: auto;
  transition: 0.25s;
  background-image: url("./images/background.png");
  background-size: cover;
  color: white;
  background-color: #59657B;
}

ul {
  padding: 0
}

.masterContainer {
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}

.home {
  margin: auto;
  z-index: 0;
}

.darkBgTitle {
  text-align: center;
  margin-top: 40px;
}

.lightBgTitle {
  text-align: center;
  margin-top: 40px;
  color: rgba(26, 26, 26, .9);
}

.hidden {
  display: none;
}

a {
  color: black;
  text-decoration: none;
  transition: 0.15s;
}

a:hover {
  transform: scale(1.15)
}