@media(max-width:550px) {
  body {
    font-size: 11px;
  }
  ;
}

@media(min-width:551px) {
  body {
    font-size: 12px;
  }
  ;
}

@media(min-width:750px) {
  body {
    font-size: 14px;
  }
  ;
}

@media(max-width:810px) {
  .navText {
    display: none;
  }
  .logoAndText {
    font-size: 16px !important;
  }
  ;
}

@media(min-width:811px) {
  .hamburger {
    display: none;
  }
  .navDropDownContainer {
    display: none;
  }
  ;
}

@media(max-width:412px) {
  .demoText {
    display: none;
  }
  ;
}

html {
  height: 100%
}

body {
  Font-Family: 'Open Sans', Sans-Serif;
  margin: 0;
  overflow: auto;
  transition: 0.25s;
  background-image: url("./images/background.png");
  background-size: cover;
  color: white;
  background-color: #59657B;
}

ul {
  padding: 0
}

.masterContainer {
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}

.modalBg {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
}

.modalBgActive {
  display: block;
}

.navBar {
  height: 80px;
  background-image: linear-gradient(to right, #f56a44, #f59e3b);
  -webkit-box-shadow: 7px 7px 23px -13px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 7px 7px 23px -13px rgba(0, 0, 0, 0.53);
  box-shadow: 7px 7px 23px -13px rgba(0, 0, 0, 0.53);
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
}

.navBarFix {
  height: 80px;
  background-color: rgb(26, 26, 26);
}

.home {
  margin: auto;
  z-index: 0;
}

.developers {
  background-color: rgba(26, 26, 26, .9);
  -webkit-box-shadow: 7px 7px 23px -13px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 7px 7px 23px -13px rgba(0, 0, 0, 0.53);
  box-shadow: 7px 7px 23px -13px rgba(0, 0, 0, 0.53);
  padding-bottom: 60px;
}

.technologies {}

.thanks {
  background-color: rgba(26, 26, 26, .9);
}

.footer {
  background-color: rgba(26, 26, 26, .9);
  padding: 20px;
  text-align: center;
}

.navTextBox {
  margin-top: 29px;
  margin-right: 26px;
}

.hamburger {
  margin-top: 32px;
  margin-right: 26px;
}

.navText {
  font-size: 16px;
  margin: 12px;
  opacity: .7;
  transition: 0.2s;
}

.logoAndText {
  margin-top: 15px;
  font-size: 20px;
  margin-left: 26px;
  line-height: 50px;
  display: flex;
  flex-direction: row;
}

.logoText {
  margin-left: 20px;
  max-lines: 2;
  max-height: 48px;
  overflow: hidden;
  min-width: 74px;
}

.navText:hover {
  opacity: 1;
  cursor: pointer;
}

.highlight {
  opacity: 1;
  font-weight: bold;
}

.navDropDownContainer {
  transition: .5s;
  color: white;
  width: 100%;
  background-color: rgb(65, 65, 65);
  position: fixed;
  top: -120px;
  z-index: 1;
}

.navDropDown {
  margin-top: 16px;
  margin-bottom: 20px;
}

.navOpen {
  transform: translateY(200px);
  -webkit-box-shadow: 7px 7px 23px -13px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 7px 7px 23px -13px rgba(0, 0, 0, 0.53);
  box-shadow: 7px 7px 23px -13px rgba(0, 0, 0, 0.53);
}

.navDropDownItem {
  font-size: 18px;
  margin-left: 20px;
  margin-top: 10px;
}

.navDropDownItem:hover {
  cursor: pointer;
}

.darkBgTitle {
  text-align: center;
  margin-top: 40px;
}

.lightBgTitle {
  text-align: center;
  margin-top: 40px;
  color: rgba(26, 26, 26, .9);
}

.developerCardContainer {
  width: 90vw;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cardContainerMobile {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.innerBio {
  color: rgb(196, 196, 196);
  margin: 10px;
  margin-top: 0px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.developerCard {
  font-size: 14px;
  min-height: 500px;
  width: 260px;
  min-width: 260px;
  margin: 10px;
  margin-top: 30px;
  background-color: rgb(61, 61, 61);
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 7px 7px 23px -13px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 7px 7px 23px -13px rgba(0, 0, 0, 0.53);
  box-shadow: 7px 7px 23px -13px rgba(0, 0, 0, 0.53);
}

.imageHolder {
  width: 100%;
  height: 300px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 210px;
}

.infoContainerFix {
  min-height: 0;
}

.infoContainer h3 {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 0px;
  font-size: 20px;
}

.infoContainer p {
  text-align: center;
  color: rgb(196, 196, 196);
  margin: 0;
}

.iconAndButtonSection {
  margin-top: 6px;
}

.cardIconRow {
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  width: 150px;
  justify-content: space-between;
}

.cardIconRow a {
  color: white;
}

.cardIconRow svg {
  transition: 0.15s
}

.cardIconRow svg:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.modalButton {
  text-align: center;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 2px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border: solid 1px rgba(255, 255, 255, .4);
  border-radius: 20px;
  transition: 0.25s;
}

.modalButton:hover {
  cursor: pointer;
  width: 100px;
  border-color: rgba(255, 255, 255, 1)
}

.Tyler-Bowman {
  background-image: url('./images/classmates/TylerBowman.jpg');
  background-size: cover;
  transition: 0.25s;
}

.Tyler-Bowman:hover {
  background-image: url('./images/classmates/TylerBowman_Fun.jpg');
}

.Tyler-Bowman.smallImage {
  background-image: url('./images/classmates/TylerBowman_Fun.jpg')
}

.Paul-Ellis {
  background-image: url('./images/classmates/PaulEllis.jpg');
  background-size: cover;
  transition: 0.25s;
}

.Paul-Ellis:hover {
  background-image: url('./images/classmates/PaulEllis_Fun.jpg');
}

.Paul-Ellis.smallImage {
  background-image: url('./images/classmates/PaulEllis_Fun.jpg');
}

.Jesse-Page {
  background-image: url('./images/classmates/JessePage.jpg');
  background-size: cover;
  transition: 0.25s;
}

.Jesse-Page:hover {
  background-image: url('./images/classmates/JessePage_Fun.jpg');
}

.Jesse-Page.smallImage {
  background-image: url('./images/classmates/JessePage_Fun.jpg');
}

.Lissa-Goforth {
  background-image: url('./images/classmates/LissaGoforth.jpg');
  background-size: cover;
  transition: 0.25s;
}

.Lissa-Goforth:hover {
  background-image: url('./images/classmates/LissaGoforth_Fun.jpg');
}

.Lissa-Goforth.smallImage {
  background-image: url('./images/classmates/LissaGoforth_Fun.jpg');
}

.Greg-Lawrence {
  background-image: url('./images/classmates/GregLawrence.jpg');
  background-size: cover;
  transition: 0.25s;
}

.Greg-Lawrence:hover {
  background-image: url('./images/classmates/GregLawrence_Fun.jpg');
}

.Greg-Lawrence.smallImage {
  background-image: url('./images/classmates/GregLawrence_Fun.jpg');
}

.Kristen-Norris {
  background-image: url('./images/classmates/KristenNorris.jpg');
  background-size: cover;
  transition: 0.25s;
}

.Kristen-Norris:hover {
  background-image: url('./images/classmates/KristenNorris_Fun.jpg');
}

.Kristen-Norris.smallImage {
  background-image: url('./images/classmates/KristenNorris_Fun.jpg');
}

.smallImage {
  width: 200px;
  min-width: 200px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-box-shadow: 7px 7px 40px -3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 7px 7px 40px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 7px 7px 40px -3px rgba(0, 0, 0, 0.2);
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 3;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 85%;
  max-width: 600px;
  -webkit-box-shadow: 7px 7px 23px -13px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 7px 7px 23px -13px rgba(0, 0, 0, 0.53);
  box-shadow: 7px 7px 23px -13px rgba(0, 0, 0, 0.53);
  animation-name: animatetop;
  animation-duration: 0.2s;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 90%;
}

.modalHeader {
  height: 60px;
  width: 100%;
  background-color: #F58440;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -webkit-box-shadow: 0px 7px 23px -13px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 7px 23px -13px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 7px 23px -13px rgba(0, 0, 0, 0.3);
}

.modalBody {
  height: auto;
  width: 100%;
  background-color: rgb(255, 255, 255);
  flex-grow: 1;
  background-image: url("./images/background.png");
  background-size: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(88, 88, 88);
  font-size: 12px;
}

@media screen and (max-width:560px), screen and (max-height: 470px) {
  .modal-content {
    max-width: 400px;
  }
  .modalBody {
    flex-direction: column;
    justify-content: center;
    height: auto;
  }
  .smallImage {
    margin: auto;
    width: 150px;
    min-width: 150px;
    height: 225px;
  }
  .bio {
    margin-left: 20px !important;
    margin-top: 0px !important;
    margin-bottom: 10px !important;
    overflow: visible !important;
    max-height: none !important;
  }
  .imageAndLinks {
    margin-bottom: 0px !important;
    max-height: 270px;
  }
}

.imageAndLinks {
  margin: 20px;
  height: 344px;
}

.smallIconRow {
  min-width: 180px;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: 8px;
}

.smallIconRow svg {
  color: rgb(26, 26, 26);
  margin: 4px;
}

.bio {
  border-radius: 4px;
  max-height: 310px;
  overflow: auto;
  padding: 10px;
  margin: 20px;
  margin-left: 0px;
  font-size: 14px;
  font-weight: 500;
}

.modalTitle {
  line-height: 60px;
  margin-left: 20px;
  font-size: 22px;
  font-weight: bold;
}

/* Add Animation */

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 50%;
    opacity: 1
  }
}

/* The Close Button */

.close {
  color: white;
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 20px;
  transition: 0.15s;
}

.close:hover, .close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  transform: scale(1.1)
}

/* width */

div::-webkit-scrollbar {
  width: 5px;
}

/* Track */

div::-webkit-scrollbar-track {
  background: #dadada;
}

/* Handle */

div::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

div::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hidden {
  display: none;
}

.thanksText {
  color: rgb(196, 196, 196);
  width: 80%;
  max-width: 800px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgb(61, 61, 61);
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 7px 7px 23px -13px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 7px 7px 23px -13px rgba(0, 0, 0, 0.53);
  box-shadow: 7px 7px 23px -13px rgba(0, 0, 0, 0.53);
}

.technologyCardContainer {
  color: rgb(196, 196, 196);
  width: 80%;
  max-width: 810px;
  max-height: 370px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 60px;
  padding-bottom: 25px;
  padding-top: 25px;
  background-color: rgba(158, 157, 157, 0.2);
  -webkit-box-shadow: 7px 7px 23px -13px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 7px 7px 23px -13px rgba(0, 0, 0, 0.53);
  box-shadow: 7px 7px 23px -13px rgba(0, 0, 0, 0.53);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow-x: auto;
  overflow-y: auto;
}

.technologyCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10px;
}

a {
  color: black;
  text-decoration: none;
  transition: 0.15s;
}

a:hover {
  transform: scale(1.15)
}

.technologyImage {
  width: 70px;
  height: 70px;
  margin: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media(max-width:604px) {
  .technologyImage {
    width: 60px;
    height: 60px;
  }
  ;
}

.javascript {
  background-image: url("./images/technologies/javascript.svg")
}

.reactjs {
  background-image: url("./images/technologies/react.png")
}

.git {
  background-image: url("./images/technologies/git.png")
}

.github {
  background-image: url("./images/technologies/github.png")
}

.grunt {
  background-image: url("./images/technologies/grunt.png")
}

.html5 {
  background-image: url("./images/technologies/html5.png")
}

.css3 {
  background-image: url("./images/technologies/css3.png")
}

.bootstrap {
  background-image: url("./images/technologies/bootstrap.svg")
}

.browserify {
  background-image: url("./images/technologies/browserify.png")
}

.npm {
  background-image: url("./images/technologies/npm.png")
}

.sql {
  background-image: url("./images/technologies/sql.png")
}

.sqlserver {
  background-image: url("./images/technologies/sqlserver.png")
}

.vscode {
  background-image: url("./images/technologies/vscode.png")
}

.csharp {
  background-image: url("./images/technologies/csharp.png")
}

.dotnetcore {
  background-image: url("./images/technologies/dotnetcore.png")
}

.visualstudio {
  background-image: url("./images/technologies/visualstudio.png")
}

.dotnetmvc {
  background-image: url("./images/technologies/dotnetmvc.png")
}

.azure {
  background-image: url("./images/technologies/azure.png")
}